
<!-- html code start -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>BEN_BRAHIM_CO</title>
</head>
<body>
<section class="t_head">
    <DIv class="NAV">
        <h1> <a href="/" style="text-decoration: none;"> BenBrahim_Co </a> </h1>
        <div class="drop_mobile"></div>
        <DIV class="desk_menu">
            <section class="nav_i s">about</section>
            <div></div>
            <section class="nav_i">Services</section>
            <div></div>
            <section class="nav_i e def_nav">contact</section>
        </DIV>
    </DIv>
    <center><div class="line"></div></center>
</section>
<section class="website_content">
    <center>
    <h2>build your dreams apps <br> with <a href="/" style="color:blue; cursor:pointer; text-decoration:none;">us</a></h2>
    <table class="intro"id="desk_intro" >
        <tbody>
            <tr>
                <td class="plan1"><a href="/down_doc" style="color:black;">click here</a></td>
                <td>
                    <div class="plan2">aihsfiadnfkj</div>
                    <div class="plan2">sjkdngkjsndfx</div>
                </td>
            </tr>
        </tbody>    
    </table>
    <table class="intro" id="mob_intro">
        <tbody>
            <tr><td class="plan3 ani_paln_3_2"> aihsfiadnfkj </td></tr>
            <tr><td class="plan3 ani_paln_3_1"><a href="/down_doc" style="color:black;">click here</a></td></tr>
            <tr><td class="plan3 ani_paln_3_2">sjkdngkjsndfx</td></tr>   
        </tbody>
    </table>
    </CENter>
</section>
</body>
<script src="scripts/script.js"></script>
</html>

<!-- html code stop -->



